technitium_ip = "192.0.2.53/24"
lan_gateway   = "192.0.2.1"
local_domain  = "local.example.com"
traefik_ip    = "192.0.2.52/24"
gpu_box_ip    = "192.0.2.54/24"
palantir_ip   = "192.0.2.55/24"
portainer_ip  = "192.0.2.56/24"
